.toolbar {
  width: 100%;
  height: 3.5rem;
  background: #6862cc; /*linear-gradient(#080824, transparent)*/
  -webkit-box-shadow: 10px 10px 25px -21px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 25px -21px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 25px -21px rgba(0, 0, 0, 1);
}
