.input input,
.input {
  margin: 1rem 0;
  width: 100%;
  color: lightgray;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input,
.input textarea {
  display: block;
  font: inherit;
  padding: 0.25rem 0.5rem;
  width: 100%;
  background-color: #464952;
  border-radius: 1em;
  border: none;
}

.input .touched.invalid {
  border-color: rgb(184, 64, 64);
  /*background: #ffc2c2;*/
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: white;
  color: white;
}
