.single-post {
  width: 90%;
  margin: auto;
  text-align: left;
  color: lightgray;
}

.single-post h1 {
  color: #daa4dd;
}

.single-post h2 {
  font-size: 1rem;
  color: gray;
  padding-bottom: 1rem;
  border-bottom: 2px solid gray;
}

.single-post__image {
  height: 200px;
  width: auto;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}
